[submodule "modules/gaussian-naive-bayes-classifier"]
	path = modules/gaussian-naive-bayes-classifier
	url = https://gitlab.com/NTkot/gaussian-naive-bayes-classifier
[submodule "modules/hclust-cpp"]
	path = modules/hclust-cpp
	url = https://github.com/cdalitz/hclust-cpp
[submodule "modules/hpdbscan"]
	path = modules/hpdbscan
	url = https://github.com/Markus-Goetz/hpdbscan
